@import "./partials/mixins";
@import "./partials/global";

// HEADER //
.site-header {
  @extend .container;
  padding: 24px 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__logo-wrapper {
    display: flex;
  }
  &__logo {
    @include text(32px, 36px);
    color: white;
  }
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  &__social-media-wrapper {
    width: 136px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__icons {
    width: 24px;
    height: 24px;
  }
  &__list-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    @include text(20px, 24px);
    color: white;
    margin-left: 24px;
    &:first-child {
      margin-left: 0;
    }
  }
}

// HERO BANNER //
.hero-banner {
  background: url("../assets/Images/hero.jpg");
  height: 988px;
  background-position-x: -200px;
  background-repeat: no-repeat;
  background-size: cover;
  @extend .container;
  &__wrapper {
    padding-left: 180px;
    width: 50%;
  }
  &__title {
    @include header(60px, 68px);
    color: white;
  }
  &__text {
    @include text(14px, 22px);
    color: rgba(white, 0.7);
  }
  &__btn {
    &--start {
      @include btn(#6bc1ff, #6bc1ff);
      @include text(18px, 22px);
      padding: 6px 0;
      color: white;
      margin-right: 36px;
    }
    &--sign-up {
      @include btn(white, transparent);
      @include text(18px, 22px);
      padding: 6px 0;
      color: white;
    }
  }
}
