@import "./partials/mixins";
@import "./partials/global";

// HEADER //
.site-header {
  @extend .container;
  padding: 24px 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__logo-wrapper {
    display: flex;
  }
  &__logo {
    @include text(32px, 36px);
    color: white;
  }
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  &__social-media-wrapper {
    width: 136px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__icons {
    width: 24px;
    height: 24px;
  }
  &__list-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    @include text(20px, 24px);
    color: white;
    margin-left: 24px;
    &:first-child {
      margin-left: 0;
    }
  }
}

// HERO BANNER //
.hero-banner {
  background: url("../assets/Images/hero.jpg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  @extend .container;
  &__wrapper {
    @extend .container;
    width: 530px;
  }
  &__title {
    @include header(60px, 68px);
    color: white;
  }
  &__text {
    @include text(14px, 22px);
    color: rgba(white, 0.7);
  }
  &__btn {
    &--start {
      @include btn(#6bc1ff, #6bc1ff);
      @include text(14px, 22px);
    }
  }
}

// WAVES //
.white-wave-1 {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.white-wave-2 {
  position: absolute;
  left: 1750px;
  top: 440px;
  z-index: 1;
}
.blue-wave-1 {
  position: absolute;
  left: 0px;
  top: 0px;
}
.blue-wave-2 {
  position: absolute;
  left: 1750px;
  top: 240px;
  z-index: 0;
}
