@import "./partials/mixins";
@import "./partials/global";

// HEADER //
.site-header {
  @extend .container;
  padding: 24px 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__logo-wrapper {
    display: flex;
  }
  &__logo {
    @include text(32px, 36px);
    color: white;
  }
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  &__social-media-wrapper {
    width: 136px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__icons {
    width: 24px;
    height: 24px;
  }
  &__list-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    @include text(20px, 24px);
    color: white;
    margin-left: 24px;
    &:first-child {
      margin-left: 0;
    }
  }
}

// HERO BANNER //
.hero-banner {
  background: url("../assets/Images/hero.jpg");
  height: 988px;
  background-position-x: -200px;
  background-repeat: no-repeat;
  background-size: cover;
  @extend .container;
  &__wrapper {
    padding-left: 180px;
    width: 70%;
  }
  &__title {
    @include header(60px, 68px);
    color: white;
  }
  &__text {
    @include text(18px, 22px);
    color: white;
    width: 50%;
  }
  &__btn {
    &--start {
      @include btn(#6bc1ff, #6bc1ff);
      @include text(18px, 22px);
      padding: 6px 0;
      color: white;
      margin-right: 36px;
      opacity: 0.9;
      &:hover {
        opacity: 1;
      }
    }
    &--sign-up {
      @include btn(white, transparent);
      @include text(18px, 22px);
      padding: 6px 0;
      color: white;
      opacity: 0.9;
      &:hover {
        opacity: 1;
      }
    }
  }
}

// TESTIMONTIALS PAGE //
.content {
  @extend .container;
  padding: 80px 180px;
  background: linear-gradient(
    0.03deg,
    rgba(89, 105, 246, 0.1488) 0.03%,
    rgba(89, 105, 246, 0) 99.97%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  &__chart-img {
    max-width: 1280px;
    max-height: 720px;
    width: 100%;
    height: 100%;
  }

  height: 150vh;
  &__title {
    @include text(60px, 68px);
    font-weight: bold;
    color: #414fb0;
  }
  &__text {
    &--para {
      @include text(24px, 34px);
      color: rgba(#333333, 0.7);
    }
    &--bold {
      @include text(34px, 34px);
      font-weight: 400;
      font-weight: bold;
    }
    &--subheader {
      @include text(24px, 34px);
      color: #414fb0;
    }
    &--sign-up {
      @include text(32px, 34px);
      color: black;
    }
  }
  &__btn {
    &--start {
      @include btn(#414fb0, #414fb0);
      @include text(18px, 22px);
      padding: 6px 0;
      color: white;
      margin-right: 36px;
      opacity: 0.9;
      &:hover {
        opacity: 1;
      }
    }
    &--sign-up {
      @include btn(#414fb0, transparent);
      @include text(18px, 22px);
      padding: 6px 0;
      color: #414fb0;
      opacity: 0.9;
      &:hover {
        opacity: 1;
      }
    }
  }
}

// SERVICES //
.service {
  &__one-1-title {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 63px;
    color: #414fb0;
  }
  &__one-1-text {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
  }
  &__one-2-text {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
  }
  &__two-1-text {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
  }
  &__two-2-text {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
  }
  &__one-h3-title {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    color: #414fb0;
  }
  &__container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 900px;
    @extend .container;
    width: auto;
  }
  &__one {
    display: flex;
    flex-direction: column;
    width: 50%;
    //padding-left: 200px;
  }
  &__two {
    display: flex;
    flex-direction: column;
    //padding-left: 100px;
    display: flex;
    width: auto;
    width: 50%;
  }
}
